ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

  a {
  text-decoration: none;
  color: white;

}

.spacer {
  flex: 1 1 auto;
}

/* from auth0 tutorial
https://auth0.com/blog/creating-beautiful-apps-with-angular-material/ */

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 1;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 3 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  /* width: 15%; */
  width: 25%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  /* width: 85%; */
  width: 75%;
}

.username {
  margin-left: 1em;
}
